body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 90, 207);
}


h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.2em;
}

h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.3em;
    margin-top: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

th {
    background-color: #f0f0f0;
}

ul {
    margin: 0;
    padding-left: 1.2em;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 0.4em;
}
